@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-pos: -270px;
}

@layer utilities {
  .text-clamp {
    font-size: clamp(32px, 5vw, 65px);
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

select:hover > option:checked {
  background: #000 !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3); /* Adjust the opacity as needed */
  z-index: 20; /* Ensure it's above other content */
}

@keyframes expand {
  0% {
    transform: scaleY(0); /* Initial scale */
    opacity: 0; /* Initial opacity */
    transform-origin: top;
  }
  100% {
    transform: scaleY(1); /* Scale to double the size */
    opacity: 1; /* Fade out at the end */
    transform-origin: top;
  }
}

@keyframes close {
  100% {
    transform: scaleY(0); /* Initial scale */
    opacity: 0; /* Initial opacity */
    transform-origin: top;
  }
  0% {
    transform: scaleY(1); /* Scale to double the size */
    opacity: 1; /* Fade out at the end */
    transform-origin: top;
  }
}
@media (max-width: 1024px) {
  .expanding {
    animation: expand 0.3s forwards; /* Use the 'expand' animation for 1 second */
  }

  .closing {
    animation: close 0.3s forwards;
  }
}
/* Define the animation */
