@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-pos: "-270px";
}

@layer utilities {
  .text-clamp {
    font-size: clamp(32px, 5vw, 65px);
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

select:hover > option:checked { 
  background: #000 !important;
}


